DJANGO_SECRET_KEY=change-this-in-production-to-a-secure-random-string
DJANGO_DEBUG=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin123456
DJANGO_SUPERUSER_EMAIL=admin@dermabastion.com
